div{
    height: 200px;
    width: 200px;
    background-color: blue;
    color: chartreuse;
}

.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}