body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;   /* horizontal center */
        align-items: center;       /* vertical center */
        background-color: cyan;
    }
.box {
        text-align: center;
    }

h1{
    margin-bottom: 20px;
    margin-left: 100px;
    margin-top: 10px;
    padding: 6px;
}


label{
    margin-left: 50px;
}

button{
    margin-left: 153px;
    height: 30px;
    width: 80px;
    background-color: rgb(245, 5, 5);
    color: rgb(246, 246, 246);
}

h3{
    margin-left: 120px;
}


input{
    padding: 6px;
}

#cal{
    margin-top: 10px;
    background-color: rgb(17, 240, 14);
    height: 300px;
    width: 400px;
}

p{
    margin-left: 80px;
    color: rgb(4, 16, 155);
}